<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="~/lib/css/adminpanel.css">
    <title>AdminPanel</title>
</head>
<body>

    <h1 class="text-center">AdminPanel</h1>


    <div class="container">
        <div class="row">

            <!--team-1-->
            <div class="col-lg-4">
                <div class="our-team-main">

                    <div class="team-front">
                        <img src="~/img/man.png" class="img-fluid" />
                        <p>@Html.ActionLink("Users", "Users", "Admin", "http", null, null, null, null)</p>
                    </div>



                </div>
            </div>
            <!--team-1-->
            <!--team-2-->
            <div class="col-lg-4">
                <div class="our-team-main">

                    <div class="team-front">
                        <img src="~/img/pay-per-click.png" class="img-fluid" />
                        <p>@Html.ActionLink("Payments", "Payments", "Admin", "http", null, null, null, null)</p>
                    </div>



                </div>
            </div>
            <!--team-2-->
            <!--team-3-->
            <div class="col-lg-4">
                <div class="our-team-main">

                    <div class="team-front">
                        <img src="~/img/french-fries.png" class="img-fluid" />
                        <p>@Html.ActionLink("Menus", "Menus", "Admin", "http", null, null, null, null)</p>
                    </div>



                </div>
            </div>
            <!--team-3-->
            <!--team-4-->
            <div class="col-lg-4">
                <div class="our-team-main">

                    <div class="team-front">
                        <img src="~/img/package.png" class="img-fluid" />
                        <p>@Html.ActionLink("Orders", "Orders", "Admin", "http", null, null, null, null)</p>
                        
                    </div>



                </div>
            </div>
            <!--team-4-->
            <!--team-5-->
            <div class="col-lg-4">
                <div class="our-team-main">

                    <div class="team-front">
                        <img src="~/img/info.png" class="img-fluid" />
                        <p><a href="">Info</a></p>
                    </div>



                </div>
            </div>
            <!--team-5-->
            <!--team-6-->
            <div class="col-lg-4">
                <div class="our-team-main">

                    <div class="team-front">
                        <img src="~/img/exit.png" class="img-fluid" />
                        <p>@Html.ActionLink("Logout", "Logout", "Account", "http", null, null, null, null)</p>
                    </div>



                </div>
            </div>
            <!--team-6-->



        </div>
    </div>

    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>

