
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<KitchenApp.Models.User>

<form method="post" class="form">
    <h3><a asp-action="CreateNewUser" asp-controller="Admin" class="btn btn-sm btn-info"> <i class="glyphicon glyphicon-plus"></i>Create New User</a></h3>
    <table class="table table-bordered table-sm table-striped">
        <thead>
            <tr>
                
                <th>FirstName</th>
                <th>LastName</th>
                <th>Login</th>
            
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            @if (Model == null)
            {
                <tr>
                    <td colspan="7" class="text-center">No Model Data</td>
                </tr>
            }
            else
            {
            
                @foreach (var users in Model)
                {
                   
                <tr>
                    <td>@users.FirstName</td>

                    <td>@users.LastName</td>
                    <td>@users.Login</td>
                    
                    

                    <td>
                        <a asp-action="UpdateUser" asp-controller="Admin" asp-route-id="@users.Id">
                            <i class="glyphicon glyphicon-pencil" title="Edit"></i>
                        </a>
                        <a asp-action="UpdateMenu" asp-controller="Admin" asp-route-id="@users.Id">
                            <i class="glyphicon glyphicon-trash" title="Delete"></i>
                        </a>
                    </td>


                   
                </tr>
                }
            }
        </tbody>
    </table>
</form>

